{% extends "base.html" %}

{#{% block title %}My amazing blog{% endblock %}#}

{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">

			<div class="jumbotron">
				<h1>
					Ericsson Shang Hai Toastmasters Club
				</h1>
				<p>
关于我们:
爱立信上海演讲俱乐部，成立于2014年5月25日。是既轻松又有个性的学习型组织
</p><p>
俱乐部使命:
Speaking in Public to Empower YOU ME WE
</p><p>
会议时间:
每两周的周五中午12:00~13:30举行俱乐部例会
Biweekly Regular Meeting on Friday Noon
</p><p>
每两月的神秘周五中午12:00~13:00举行会员日
Bimonthly Members' Day on One Friday Noon
                </p>
				<p>
					 <a class="btn btn-primary btn-large" href="https://mp.weixin.qq.com/s/E21ojAyI2YSdL8Dejxwm7w">Learn more</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				Photos
			</h2>
			<p>
                some photos in our meeting
			</p>
			<p>
				 <a class="btn" href="http://eshtmc.com/meetings/">go »</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Meeting info
			</h2>
			<p>
                some Meeting data on the github-page
			</p>
			<p>
				 <a class="btn" href="https://eshtmc.github.io/">go »</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Officers info
			</h2>
			<p>
                some Officers Meeting data on the github-page
            </p>
			<p>
				 <a class="btn" href="https://shimo.im/">go »</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}